body {
    font-weight: 300;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    color: #ffffff;
    transition: all 0.12s ease-out;
    text-align: center;
    width: 100%;
    display: block;
    bottom: 15px;
    position: absolute;
  }
  
  #i, #k {
    position: fixed;
    font-size: 200px;
    text-align: center;
    width: 100%;
    left: 0;
    height: 200px;
    line-height: 30px;
    top: 50%;
    margin-top: -50px;
    color: #ffff;
    text-shadow: -1px -1px 0px #fff;}
  
  span {
    font-size: 20px;
    color: rgb(255, 255, 255);
  }
  
  #i { 
    font-size: 80px;
  }

  body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  